.navbar-header {
  margin-bottom: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #1e1e1e;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-item {
  color: #888;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-item.active {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.nav-item:hover {
  color: #fff;
}
