.favorite-icon {
    cursor: pointer;
    transition: transform 0.2s;
    margin-right: -7px; /* Сдвиг вправо */
    margin-left: auto; /* Сдвиг влево */
}

.favorite-icon:active {
    transform: scale(0.9);
}

.favorite-icon-container {
    margin-top: -12px; /* Сдвиньте вверх для удаления отступа */
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center;
    margin-right: auto; /* Сдвиг вправо */
    margin-left: -10px; /* Сдвиг влево */
}

.card-title {
    font-size: 15px
}

.card-text {
    font-size: 10px
}

.card-size {
    min-width: 160px; /* Задайте минимальную ширину по вашему усмотрению */
    min-height: 100px; /* Задайте минимальную высоту по вашему усмотрению */
}

.text-muted {
    font-size: 10px
}