body {
  /*background-color: var(--tg-theme-bg-color);*/
  /*color: #ffffff;*/
  background-color: var(--tg-theme-header-bg-color);
  color: var(--tg-theme-text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

h1 {
  margin-top: 2rem;
}